.browse {
    background: #362C5D;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Logo and hamburger */
.heading-browse {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.logo-browse {
    display: flex;
}

.logo-image-browse {
    width: 40px;
}

.logo-title-browse {
    font-family: 'Archive', sans-serif;
    font-size: 35px;
    color: #0FF2F2;
    margin: 0px;
}

.hamburger {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.hamburger-image {
    width: 40px;
}

/* Input box */
.input-box {
    background: white;
    display: flex;
    align-items: center;
    margin: 0px 40px;
    padding: 10px;
    height: 15px;
    border-radius: 10px;
    width: 290px;
}

.search-icon-div {
    display: flex;
    justify-content: flex-start;
}

.search-icon {
    width: 15px;
    height: auto;
    cursor: pointer;
}

.input-text {
    margin: 5px;
    width: 250px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.close-search-icon-div {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.close-search-icon {
    width: 12px; 
    height: auto;
    cursor: pointer;
}

/* Trending boxes */
.browse-section-title {
    margin: 20px 40px;
    color: #0FF2F2;
    font-family: 'Sifonn Pro';
    font-size: 16px;
}

.trending-boxes {
    display: grid;
    grid-template-columns: 310px;
    grid-template-rows: repeat(2, 120px);
    justify-content: center;
    margin: 0px 40px;
    gap: 15px 0px;
}

.trending-box {
    background: #8C52FF;
    display: flex;
    flex-direction: column;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
}

.trending-link {
    text-decoration: none;
}

.trending-text {
    margin-left: 10px;
    margin-bottom: 0px;
    color: white;
    font-family: 'Sifonn Pro';
    font-size: 17px;
}

.trending-poster-div {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.trending-poster {
    margin-top: 20px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    transform: rotate(30deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Genre boxes  (styling continued in GenreCard.css) */ 
.genre-container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-auto-rows: 100px;
    justify-content: center;
    gap: 10px 10px;
    height: 38vh;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0px 30px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #0FF2F2;
    border-radius: 100vw;
}