.browse {
    background: #353F6D;
    height: 100vh;
}

.heading-browse {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 10px;
}

.logo-browse {
    display: flex;
}

.logo-image-browse {
    width: 40px;
    height: auto;
}

.logo-title-browse {
    font-family: 'Archive', sans-serif;
    font-size: 35px;
    color: #5CE1E6;
}

.hamburger {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.hamburger-image {
    width: 40px;
    height: auto;
}

.input-box {
    background: white;
    display: flex;
    align-items: center;
    margin: 0px 40px;
    padding: 10px;
    height: 15px;
    border-radius: 10px;
}

.search-icon-div {
    display: flex;
    justify-content: flex-start;
}

.search-icon {
    width: 15px;
    height: auto;
}

.input-text {
    margin: 5px;
    width: 240px;
    border: none;
}

.close-search-icon-div {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.close-search-icon {
    width: 12px; 
    height: auto;
}


