/***********LEVEL 2***********/
.browse {
    background: #362C5D;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Logo and hamburger */
.heading-browse {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.logo-browse {
    display: flex;
}

.logo-image-browse {
    width: 40px;
}

.logo-title-browse {
    font-family: 'Archive', sans-serif;
    font-size: 35px;
    color: #0FF2F2;
    margin: 0px;
}

.hamburger {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.hamburger-image {
    width: 40px;
}

/* Input box */
.input-box {
    background: white;
    display: flex;
    align-items: center;
    margin: 0px 40px;
    padding: 10px;
    height: 15px;
    border-radius: 10px;
    width: 290px;
}

.search-icon-div {
    display: flex;
    justify-content: flex-start;
}

.search-icon {
    width: 15px;
    height: auto;
    cursor: pointer;
}

.input-text {
    margin: 5px;
    width: 250px;
    border: none;
    font-family: 'Archive', sans-serif;
    font-size: 15px;
}

.input-text::placeholder {
    color: rgb(171, 171, 171)
}

.close-search-icon-div {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.close-search-icon {
    width: 12px; 
    height: auto;
    cursor: pointer;
}

/* Trending boxes */
.browse-section-title {
    margin: 20px 40px;
    color: #0FF2F2;
    font-family: 'Sifonn Pro';
    font-size: 16px;
}

.trending-boxes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 120px);
    justify-content: center;
    margin: 0px 40px;
    gap: 15px 0px;
}

.trending-box {
    background: #8C52FF;
    display: flex;
    flex-direction: column;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
}

.trending-link {
    text-decoration: none;
}

.trending-text {
    margin-left: 10px;
    margin-bottom: 0px;
    color: white;
    font-family: 'Sifonn Pro';
    font-size: 17px;
}

.trending-poster-div {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.trending-poster {
    margin-top: 20px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    transform: rotate(30deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Genre boxes  (styling continued in GenreCard.css) */ 
.genre-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    justify-content: center;
    gap: 10px 10px;
    height: 38vh;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0px 40px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #0FF2F2;
    border-radius: 100vw;
}

/***********LEVEL 3***********/ 
@media screen and (min-width: 513px) and (max-width: 768px) {
    .trending-boxes {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 170px;
        gap: 10px 10px;
    }

    .trending-box {
        height: 170px;
    }

    .trending-poster {
        margin-top: 60px;
        width: 85px;
        height: 85px;
    }

    .browse-section-title {
        font-size: 18px;
    }

    .genre-container {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 120px;
    }

    .trending-text {
        font-size: 21px;
    }
    
    .input-box {
        width: 300px;
    }
        
    .search-icon {
        width: 16px;
    }
    
    .input-text {
        width: 250px;
        font-size: 16px;
    }
    
    .close-search-icon {
        width: 13px; 
    }

    .logo-image-browse {
        width: 41px;
    }
    
    .logo-title-browse {
        font-size: 36px;
    }
        
    .hamburger-image {
        width: 41px;
    }
}

/***********LEVEL 4***********/ 
@media screen and (min-width: 769px) and (max-width: 960px) {
    .trending-boxes {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 175px;
        gap: 10px 10px;
    }

    .trending-box {
        height: 175px;
    }

    .trending-poster {
        margin-top: 60px;
        width: 95px;
        height: 95px;
    }

    .browse-section-title {
        font-size: 18px;
    }

    .genre-container {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 125px;
    }

    .trending-text {
        font-size: 21px;
    }

    .input-box {
        width: 310px;
    }
        
    .search-icon {
        width: 17px;
    }
    
    .input-text {
        width: 260px;
        font-size: 17px;
    }
    
    .close-search-icon {
        width: 14px; 
    }

    .logo-image-browse {
        width: 42px;
    }
    
    .logo-title-browse {
        font-size: 37px;
    }
        
    .hamburger-image {
        width: 42px;
    }
}

/***********LEVEL 5***********/ 
@media screen and (min-width: 961px) and (max-width: 1280px){
    .trending-boxes {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 180px;
        gap: 10px 10px;
    }

    .trending-box {
        height: 180px;
    }

    .trending-poster {
        margin-top: 50px;
        width: 110px;
        height: 110px;
    }

    .browse-section-title {
        font-size: 20px;
    }

    .genre-container {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 130px;
    }

    .trending-text {
        font-size: 24px;
    }

    .input-box {
        width: 320px;
    }
        
    .search-icon {
        width: 17px;
    }
    
    .input-text {
        width: 270px;
        font-size: 18px;
    }
    
    .close-search-icon {
        width: 15px; 
    }

    .logo-image-browse {
        width: 43px;
    }
    
    .logo-title-browse {
        font-size: 38px;
    }
        
    .hamburger-image {
        width: 43px;
    }
}

/***********LEVEL 6***********/ 
@media screen and (min-width: 1281px) {
    .trending-boxes {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 185px;
        gap: 10px 10px;
    }

    .trending-box {
        height: 185px;
    }

    .trending-poster {
        margin-top: 37px;
        width: 125px;
        height: 125px;
    }

    .browse-section-title {
        font-size: 22px;
    }

    .genre-container {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 135px;
    }

    .trending-text {
        font-size: 26px;
    }

    .input-box {
        width: 330px;
    }
        
    .search-icon {
        width: 18px;
    }
    
    .input-text {
        width: 280px;
        font-size: 19px;
    }
    
    .close-search-icon {
        width: 16px; 
    }

    .logo-image-browse {
        width: 44px;
    }
    
    .logo-title-browse {
        font-size: 39px;
    }
        
    .hamburger-image {
        width: 44px;
    }
}