/***********LEVEL 2***********/
.gallery-page {
    background: #362C5D;
    height: 100vh;
    overflow-y: hidden;
}

.gallery-header {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Back icon */
.back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.back-icon {
    width: 25px;
}

.back-text {
    font-family: 'Archive';
    font-size: 18px;
    color: #0FF2F2;
}

/* Poster carousel */
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 19px;
}

.outer-carousel {
    height: 75vh;
    cursor: grab;
    overflow: hidden;
}

.inner-carousel {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.poster-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster-box {
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    margin-right: 40px;
    margin-left: 40px;
}

.poster-box:nth-of-type(1) {
    margin-left: 20px;
}

.poster-img { 
    width: 330px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

/* .title-box {
    display: flex;
    justify-content: center;
    text-align: center;
}

.movie-title {
    font-family: 'Archive';
    font-size: 18px;
    color: #0FF2F2;
    width: 60vw;
} */