.genre-card {
    background: #8C52FF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.genre-link {
    text-decoration: none;
}

.genre-title {
    margin-left: 10px;
    margin-bottom: 0px;
    color: white;
    font-family: 'Sifonn Pro';
    font-size: 13px;
}

.genre-poster-div {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.genre-poster {
    margin-top: 25px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    transform: rotate(30deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}