.home {
    background: #5271FF;
    color: #5CE1E6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-brand {
    display: flex;
    align-items: center;
}

.trailer-logo {
    width: 60px;
    height: auto;
}

.title {
    font-family: 'Archive', sans-serif;
    font-size: 50px;
}