.home {
    background: #8C52FF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 60px;
    height: auto;
}

.logo-title {
    font-family: 'Archive', sans-serif;
    font-size: 50px;
    color: #0FF2F2
}