/***********LEVEL 2***********/
.trailer-page {
    background: #362C5D;
    height: 100vh;
    overflow: hidden;
}

/* Backdrop and headings */
.back-icon {
    cursor: pointer;
}

.backdrop-box {
    height: 33vh;
    background-size: cover;
    position: relative;
}

.backdrop-box:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
}

.back-text, .back-icon, .hamburger { 
    position: relative;
}

.gallery-header.trailer {
    margin-top: 0;
    padding-top: 20px;
}

/* Trailer and poster/info */
.movie-box {
    display: flex;
    justify-content: center;
    height: 35vh;
    width: 95vw;
    margin: 35px 10px;
    position: relative;
}

.youtube-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.movie-poster-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
}

.movie-poster {
    width: 200px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description-container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

.title-box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2px;
}

.title {
    font-family: 'Sifonn Pro', sans-serif;
    font-size: 18px;
    color: white;
    margin: 10px 0px;
}

.date-rating-box {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.movie-year {
    font-family: 'Sifonn Pro', sans-serif;
    font-size: 14px;
    color: white;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.tmdb-rating {
    margin: 0;
    font-family: 'Sifonn Pro', sans-serif;
    font-size: 14px;
    color: white;
}

.movie-time {
    font-family: 'Sifonn Pro', sans-serif;
    font-size: 14px;
    color: white;
}

.trailer-time {
    display: flex;
    justify-content: flex-start;
}

.trailer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    background: #8C52FF;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 10px;
    padding: 1px;
    cursor: pointer;
}

.playTrailer {
    width: 13px;
    margin-right: 5px;
}

.trailer-text {
    font-family: 'Sifonn Pro', sans-serif;
    color: white;
    font-size: 14px;
    margin: 0px;
}

.description-box {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
    overflow-y: scroll;
    /* margin-left: 0; */
}

.description-text {
    margin: 0;
}

/* Recommendations */
.recommendation-text {
    font-family: 'Sifonn Pro', sans-serif;
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

.similar-movies {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.similar-movie-posters {
    width: 90px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}